
$text-link-color:#7b2121;
$gold:#E7AD77;

body {
  margin: 0;
  padding: 0;
  font-family:'Libre Baskerville', serif;
}

.title{
  grid-column-start: 2;
  grid-column-end: 3;
  top: 10%;
  text-align: center;
  font-size: 2em;
  text-shadow: 0px 2px 4px #373737;
}

.app{
  display:grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 20px 20px 20px auto;
  width: 100vw;
  height:100vh;
  color:white;
}

a{
  text-decoration: none;
  color: $text-link-color;
}

.nav-bar{
  z-index: 1;
  //master grid placement
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end:4;

  //inner nav bar grid
  display:grid;
  grid-template-columns: 50px 20% auto 20% 50px;
  grid-template-rows: 20px 20px 20px;

  text-align:center;
  box-shadow: 0px 5px 5px #545454;
  background-image:url(images/header-texture.png);

  span{
    grid-row:2;
    &.left-header-text{
      grid-column:2;
      text-align: left;
    }
    &.right-header-text{
      grid-column: 4;
      text-align: right;
    }
    span{
      padding:10px;
    }
  }

}
.content-container{
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 1;
  grid-column-end: 4;

  background-image:url(images/BG-Art.png);

  display:grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 20px auto 20px;

  .content{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;


    .content-view{
      padding: 10px;
      background-color:rgba(23, 35, 51, .67);
      border:3px solid $gold;
      border-radius: 1px;
      height:85vh;
      overflow-y: auto;

      &.player-view{
        display:grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 85vh;
        overflow-y: hidden;
      }
    }
    //player view inner grid

  }
}

button.base-button{
  color:white;
}
.spell-card{
  padding:20px;
}
